<div class="c-header">
    <!--<a class = "logo">
        <span class="logo-img"></span>
    </a>-->
    <img src="../../../content/img/logo.png" />
    <h3>后台管理系统</h3>
</div>
<!--<div class="c-header-profile">
    <div ngbDropdown>
        <img alt="image" class="rounded-circle" src="../../../content/img/user-header.png" (click)="avatarReplacement()"/>
        <div class="c-user-profile">
            <span ngbDropdownToggle>{{mainData.userData.userName}}</span>
        </div>
        <div ngbDropdownMenu  class="dropdown-menu animated fadeIn">
            <button class="dropdown-item" (click)="userInfo()"><i class="fa  fa-user-circle-o  fa-fw"></i> 个人资料</button>
            <button class="dropdown-item" (click)="passwordEdit()"><i class="fa  fa-key fa-fw"></i> 修改密码</button>
            <button class="dropdown-item" (click)="exitSys()"><i class="fa  fa-sign-out fa-fw"></i> 退出系统</button>
        </div>
    </div>
</div>-->
<div class="c-nav" c-custom-scrollbar>
    <ul  class="c-sidebar-menu">
        <li  *ngFor="let item of menuData">
            <a  (click)="itemClicked(item);">
                <i style="margin-top:3px;width:17px" class="fa  pull-right"  [ngClass]="{'fa-angle-down': !isLeaf(item) && item.expended, 'fa-angle-left': !isLeaf(item) && !item.expended}"></i>
                <i class="fa " [ngClass]="item.icon"></i> <span>{{item.name}}</span>
            </a>
            <c-treeview-menu [data]="item"></c-treeview-menu>
        </li>
    </ul>
</div>
