
<div *ngIf="projectInfo">
    <h2><span jhiTranslate="lfgwApp.projectInfo.detail.title">Project Info</span> {{projectInfo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="lfgwApp.projectInfo.projectId">Project Id</span></dt>
        <dd>
            <span>{{projectInfo.projectId}}</span>
        </dd>
        <dt><span jhiTranslate="lfgwApp.projectInfo.projectName">Project Name</span></dt>
        <dd>
            <span>{{projectInfo.projectName}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'project-info/'+ projectInfo.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
