<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySaleAmt1Label" jhiTranslate="lfgwApp.saleAmt1.home.createOrEditLabel">Create or edit a Sale Amt 1</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!saleAmt1.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="saleAmt1.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lfgwApp.saleAmt1.amt1Id" for="field_amt1Id">Amt 1 Id</label>
            <input type="number" class="form-control" name="amt1Id" id="field_amt1Id"
                [(ngModel)]="saleAmt1.amt1Id" required/>
            <div [hidden]="!(editForm.controls.amt1Id?.dirty && editForm.controls.amt1Id?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.amt1Id?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.amt1Id?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lfgwApp.saleAmt1.projectId" for="field_projectId">Project Id</label>
            <input type="number" class="form-control" name="projectId" id="field_projectId"
                [(ngModel)]="saleAmt1.projectId" required/>
            <div [hidden]="!(editForm.controls.projectId?.dirty && editForm.controls.projectId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.projectId?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.projectId?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lfgwApp.saleAmt1.shopId" for="field_shopId">Shop Id</label>
            <input type="number" class="form-control" name="shopId" id="field_shopId"
                [(ngModel)]="saleAmt1.shopId" required/>
            <div [hidden]="!(editForm.controls.shopId?.dirty && editForm.controls.shopId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.shopId?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.shopId?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lfgwApp.saleAmt1.amt1Info" for="field_amt1Info">Amt 1 Info</label>
            <input type="text" class="form-control" name="amt1Info" id="field_amt1Info"
                [(ngModel)]="saleAmt1.amt1Info" required/>
            <div [hidden]="!(editForm.controls.amt1Info?.dirty && editForm.controls.amt1Info?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.amt1Info?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
