
<div *ngIf="shopInfo">
    <h2><span jhiTranslate="lfgwApp.shopInfo.detail.title">Shop Info</span> {{shopInfo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="lfgwApp.shopInfo.shopId">Shop Id</span></dt>
        <dd>
            <span>{{shopInfo.shopId}}</span>
        </dd>
        <dt><span jhiTranslate="lfgwApp.shopInfo.shopName">Shop Name</span></dt>
        <dd>
            <span>{{shopInfo.shopName}}</span>
        </dd>
        <dt><span jhiTranslate="lfgwApp.shopInfo.projectName">Project Name</span></dt>
        <dd>
            <div *ngIf="shopInfo.projectInfoId">
                <a [routerLink]="['/project-info', shopInfo.projectInfoId]">{{shopInfo.projectName}}</a>
            </div>
        </dd>
    </dl>

    <nz-select
        style="width: 200px;"
        nzAllowClear
        [nzPlaceHolder]="'Select a person'"
        [(ngModel)]="selectedOption"
        nzShowSearch>
        <nz-option
            *ngFor="let option of searchOptions"
            [nzLabel]="option.label"
            [nzValue]="option.value"
            [nzDisabled]="option.disabled">
        </nz-option>
    </nz-select>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'shop-info/'+ shopInfo.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
